<html>
  <head>
    <title>My profile</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta charset="utf-8">
  </head>
  <body>
    <form action="/login" method="POST">
      nickname<input type="text" name="nickname">
      password<input type="password" name="password">
      <input type="submit" value="add">
    </form>
  </body>
</html>
